/* flex横向,上下左右居中 */
.flx-r{
	display: flex;
	display:-webkit-flex;
	flex-direction: row;
	flex-direction: -webkit-row;
	justify-content: center;
	justify-content: -webkie-center;
	align-items: center;
	align-items: -webkie-center;
}
/* flex横向,上下居中,左右向左 */
.flx-rs{
	display: flex;
	display:-webkit-flex;
	flex-direction: row;
	flex-direction: -webkit-row;
	justify-content: flex-start;
	justify-content: -webkit-flex-start;
	align-items: center;
	align-items: -webkit-center;
}
/* flex横向,左右居中,上下向上 */
.flx-ras{
	display: flex;
	display:-webkit-flex;
	flex-direction: row;
	flex-direction: -webkit-row;
	justify-content: center;
	justify-content: -webkit-center;
	align-items: flex-start;
	align-items: -webkit-flex-start;
}
/* flex纵向,上下左右居中 */
.flx-c{
	display: flex;
	display:-webkit-flex;
	flex-direction: column;
	flex-direction: -webkit-column;
	justify-content: center;
	justify-content: -webkit-center;
	align-items: center;
	align-items: -webkit-center;
}

/* flex纵向,左右居中，上下向上 */
.flx-cs{
	display: flex;
	display:-webkit-flex;
	flex-direction: column;
	flex-direction: -webkit-column;
	justify-content: center;
	justify-content: -webkit-center;
	align-items: flex-start;
	align-items: -webkit-flex-start;
}
/* flex纵向,上下居中，左右向左 */
.flx-cas{
	display: flex;
	display:-webkit-flex;
	flex-direction: column;
	flex-direction: -webkit-column;
	justify-content: flex-start;
	justify-content: -webkit-flex-start;
	align-items: center;
	align-items: -webkit-center;
}
/* 定位顶部栏 */
.title-bar{
	position: fixed;
	width: 100%;
	height: 88px;
	top: 0px;
	left: 0px;
	z-index: 1500;
}
/* .title-bar{
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 0px;
	z-index: 9999;
	height: 88px;
} */
/* 相对定位 */
.relative{
	position: relative;
}
/* 绝对定位 */
.absolute{
	position: absolute;
}
.medium{
	font-weight: 500;
}
.bold{
	font-weight: bold;
}
